.navbar-inverse {
	background-image: linear-gradient(to bottom,#7ec6d7 0,#7ec6d7 100%);
    border:none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    text-shadow: 0 0px 0 rgba(0,0,0,.25);
}


/*next two are for navbar links + hover*/
.navbar-inverse .navbar-nav>li>a {
	color:#2E2E2E;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #2E2E2E;
    background-color:#ffffff;
}


/*Next two are for navbarbrand + navbarbrand hover*/
.navbar-inverse .navbar-brand {
	color:#434343;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #434343;
    background-color: #ffffff;

}

.navbar-inverse .navbar-brand {
    font-weight: 700;
    font-family: Lobster, cursive;
}

/*jumbotron background and padding*/
.jumbotron {
    position: relative;
    background: #000 url("../images/cover.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: #FFFFFF;
    overflow: hidden;
}

.jumbotron-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    color:#ffffff;
    opacity: 0.7;
}


.jumbotron h1 {

	text-align:left;
	padding-top:400px;
    color: #ffffff;
    letter-spacing: 1px;	
}


.jumbotron h4 {
	text-align:left;
	margin-bottom:5%;
	font-weight:normal;
	letter-spacing:1px;
	line-height: 20px;
	margin-right:15%;
	padding-left: 1%;
}

.jumbotron h5 {
	margin-top:40px;
	margin-right:  0px;
    color: #ffffff;
    text-align:left;
    letter-spacing:-0.5px;
	line-height: 20px;
}

.row .btn-group {
    margin-top: 24px;
}

.row-custom {
    padding-bottom:10px;
}

#tweetsAroundMe, #tweetCategories, #tweetsTrending, #FAQ {
    padding-top: 50px;
}

#map-canvas {
    max-height: 450px;
    min-height: 450px;
    max-width: 600px;
}

/*panels for tweets*/
.no-overflow {
    padding-top:20px;
    padding-left:30px;
    padding-right:30px;
    overflow: hidden;
    max-height: 450px;
    min-height: 450px;
    max-width:600px;
    overflow-y:auto;
    background-color: #c9e7ee;
}

.tweet-inputs {
    padding-top:15px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;
}

.a {
    color: #000000;
}

#accordion {
    margin-bottom:450px;
}

.container.odd {
    background-color: #dddddd;
}

/*

NAVLINKS
*/

a.nav-link:link
{
   color: #194651;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #194651;
   text-decoration: none;
}

a.nav-link:hover
{
   color: #1ec6d7;
   text-decoration: none;
}
a.nav-link:active
{
   color: #ccc;
   text-decoration: none;
}


p.tweet-text-input {

    margin-right:10px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 12px;

}
p.tweet-text-time {
    margin-left:5px;
    margin-right:10px;
    margin-bottom: 0px;
    font-size: 10px;
}
