#list-container {
    position: relative;
    overflow-x: scroll;
}

@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

/* width is a default value, can be changed
float and height must not be altered.*/
#right-button {
    height: 100%;
    width:150px;
    float:right;
    margin-left:5px;
}

#left-button {
    height: 100%;
    width:150px;
    margin-right:5px;
    float:left;
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    overflow:hidden;
    height:150px;
}
