#list-container {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background-color: #F0F8FF;
}

.right-button {
    background-color: red;
    font-size: 20px;
    padding-top:20px;
    float: right;
    margin-left: 5px;    
}

.left-button {
    background-color: yellow;
}

li {
    background-color: white;    
    border: solid 1px;
    border-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;

}