#list-container {
    border: 1px solid black;
    width: 800px;
    height: 900px;
    background-color: #F0F8FF;
}

ul {
    list-style-type: none;
    padding: 0px;

}

li {
    border: solid 1px;
    border-color: black;
    background-color: white;
    margin: 3px;    
    margin-top: 20px;
    padding:10px;
}