.navbar-inverse {
	opacity: 80%;
	/*background-image: linear-gradient(to bottom,#FF7900 0,#FF7900 100%);
	border-color: #E83B0C;*/
}

/*next two are for navbar links + hover*/
.navbar-inverse .navbar-nav>li>a {
	color:#FFFFFF;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color:#000000;
}


/*Next two are for navbarbrand + navbarbrand hover*/
.navbar-inverse .navbar-brand {
	color:#FF7900;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #FF7900;
    background-color: #000000;

}

/*jumbotron background and padding*/
.jumbotron {
	height:100%;
	color: #FFFFFF;
    position: relative;
    background: #000 url("http://fooyoh.com/files/attach/images/3004/446/239/008/weneverlookup1.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

}


.jumbotron h1 {
	text-align:left;
	padding-top:;
    color: #FF7900;
    letter-spacing: 1px;
}


.jumbotron h4 {
	text-align:left;
	padding-bottom:50px;
	font-weight:normal;
	letter-spacing:1px;
	line-height: 20px;
	padding-right:43%;
	padding-left: 1%;
}
.jumbotron h5 {
	padding-top:400px;
    color: #FFFFFF;
    text-align:center;
    letter-spacing:0px;
	line-height: 20px;
}

/*To allow the height to be full screen*/
html,body {
	height:100%;
}

.jumbotron-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 110%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

