.navbar-inverse {
	opacity: 80%;
	background-image: linear-gradient(to bottom,#9CD3E0 0,#9CD3E0 100%);
	border-color: #000000;
}

/*next two are for navbar links + hover*/
.navbar-inverse .navbar-nav>li>a {
	color:#ffffff;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000000;
    background-color:#FFFF7E;
}


/*Next two are for navbarbrand + navbarbrand hover*/
.navbar-inverse .navbar-brand {
	color:#ffffff;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #000000;
    background-color: #FFFF7E;

}

/*jumbotron background and padding*/
.jumbotron {
    position: relative;
    background: #000 url("http://fooyoh.com/files/attach/images/3004/446/239/008/weneverlookup1.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: #FFFFFF;
}


.jumbotron h1 {

	text-align:left;
	padding-top:350px;
    color: #ffffff;
    letter-spacing: 1px;	
}


.jumbotron h4 {
	text-align:left;
	margin-bottom:5%;
	font-weight:normal;
	letter-spacing:1px;
	line-height: 20px;
	margin-right:15%;
	padding-left: 1%;
}
.jumbotron h5 {
	margin-top:80px;
	margin-right:50px;
    color: #ffffff;
    text-align:right;
    letter-spacing:0px;
	line-height: 20px;
}


.jumbotron-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
	
html, body {
	height:100%;
	width:100%;
}
